<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.dming.simple">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.dming.simple.ActivityS1" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.dming.simple.ActivityS2" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.dming.simple.ActivityS3" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.dming.simple.ActivityS4" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.dming.simple.ActivityS5" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.dming.simple.ActivityS6" android:theme="@style/Theme.AppCompat"/>

        <service android:name="com.dming.simple.ServiceS1"/>
        <service android:name="com.dming.simple.ServiceS2"/>
        <service android:name="com.dming.simple.ServiceS3"/>

        <provider android:authorities="com.simple.authorities" android:name=".plugin.provider.ProviderDispatch"/>
        <receiver android:name=".plugin.receiver.BroadcastReceiverDispatch"/>

    </application>
</manifest>
