<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.dming.simple">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name="com.dming.simple.MyApp"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.dming.simple.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.simple.plugin.ActivityS1"/>
        <activity android:name="com.simple.plugin.ActivityS2"/>
        <activity android:name="com.simple.plugin.ActivityS3"/>
        <activity android:name="com.simple.plugin.ActivityS4"/>
        <activity android:name="com.simple.plugin.ActivityS5"/>
        <activity android:name="com.simple.plugin.ActivityS6"/>

        <service android:name="com.simple.plugin.ServiceS1"/>
        <service android:name="com.simple.plugin.ServiceS2"/>
        <service android:name="com.simple.plugin.ServiceS3"/>

        <provider android:authorities="com.simple.authorities" android:name=".plugin.provider.ProviderDispatch"/>
        <receiver android:name=".plugin.receiver.BroadcastReceiverDispatch"/>

    </application>

</manifest>