<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.dming.testplugin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MyApp"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.dming.plugin.ActivityS1"/>
        <activity android:name="com.dming.plugin.ActivityS2"/>
        <activity android:name="com.dming.plugin.ActivityS3"/>
        <activity android:name="com.dming.plugin.ActivityS4"/>
        <activity android:name="com.dming.plugin.ActivityS5"/>
        <activity android:name="com.dming.plugin.ActivityS6"/>

        <activity android:name="com.dming.plugin.ServiceS1"/>
        <activity android:name="com.dming.plugin.ServiceS2"/>
        <activity android:name="com.dming.plugin.ServiceS3"/>

        <provider android:authorities="com.dming.authorities" android:name=".proxy.ProviderDispatch"/>

    </application>

</manifest>